
#headerwrap {
	background: url(../images/dock2.jpg) no-repeat center top;
	margin-top: ;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
  min-height: 100vh;

	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 500;
	color: #ffffff
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #1abc9c
}

#footer {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footer p {
	color: #f2f2f2;
	margin-left: 10px;
}

#portfolio {
	background: url(../images/mac.jpeg) no-repeat center top;
	margin-top: ;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 100vh;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#portfolio h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#portfolio h4 {
	font-weight: 400;
	color: #ffffff
}

#about {
	background: url(../images/thailand.jpg) no-repeat center top;
	margin-top: 10%;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 100vh;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.skillbar {
	position:relative;
	display:block;
	margin-bottom:18px;
	box-shadow:1px 1px 0 0 #333333;
	width:100%;
	background:#43484E;
	height:35px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:25%;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	background-color:#fc7700;
}

.skillbar-title span {
	float: none;
	margin-bottom: 0;
	margin-right: 0;
	margin-top: 0;
	text-align: left;
	display:block;
	background-color:#fc7700;
	padding:0 15px;
	height:35px;
	line-height:35px;
}


.skillbar-bar {
	height:35px;
	width:0px;
	background-color:#fc7700;
	box-shadow:0 1px 0 0 #333333;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
}


/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}
