.nav-bar {
  width: 100%;
  position: fixed;
  font-size: 2rem;
  background-color: #000;
  box-sizing: border-box; }
  .nav-bar__wrapper {
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 20px; }
  .nav-bar__logo {
    margin-left: 0;
    position: static;
    width: 35px;
    height: 35px;
    color: #ffffff; }
  .nav-bar__menu {
    margin: 0;
    padding: 0;
    text-align: right;
    list-style: none;
    color: #ffffff; }
  .nav-bar__text {
    display: inline-block;
    text-align: center;
    text-transform: uppercase; }

.welcome {
  background-color: red;
  height: 600px; }

html {
  font-size: 62.5%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* use font in body so child elements are supported  */
body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 500; }
