header {
  position: fixed;
  width: 100%;
  min-height: 66px;
  z-index: 600;
}
header .row {
  position: relative;
  min-height: 66px;
}
header .top-bar {
  display: block;
  background: #000000;
  min-width: 220px;
  min-height: 66px;
  position: absolute;
  left: 90px;
  top: 0;
}
header .logo {
  float: left;
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 25px;
  position: relative;
}
header .logo a {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  width: 92px;
  height: 15px;
  background: url('../images/logo.png') no-repeat center;
  background-size: 92px 15px;
}

/* navigation panel */
#main-nav-wrap {
  display: block;
  width: 100%;
  font-family: 'poppins-medium', sans-serif;
  font-size: 1.5rem;
  position: absolute;
  top: 100%;
  left: 0;
}

/* dropdown nav */
.main-navigation {
  background: #000000;
  padding: 24px 30px 42px;
  margin: 0;
  width: 100%;
  height: auto;
  clear: both;
  display: none;
}
.main-navigation > li {
  display: block;
  height: auto;
  text-align: left;
  padding: 0;
}
.main-navigation li a {
  display: block;
  color: #ffffff;
  width: auto;
  padding: 15px 0;
  line-height: 16px;
  border: none;
}
.main-navigation li a:hover {
  color: #ff0077;
  padding-left: 1rem;
}
.main-navigation li.current > a {
  background: none;
  color: #ff0077;
}

/**
 * responsive:
 * header styles
 * --------------------------------------------------------------- 
 */
@media only screen and (max-width: 1024px) {
  header .top-bar {
    left: 60px;
  }
}
@media only screen and (max-width: 768px) {
  header .top-bar {
    left: 50px;
  }
}
@media only screen and (max-width: 600px) {
  header .top-bar {
    left: 35px;
  }
}
@media only screen and (max-width: 400px) {
  header .top-bar {
    left: 25px;
  }
}
